
@font-face{font-family:'Vazirmatn';src:url('subset/Vazirmatn-Regular-sub.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'Vazirmatn';src:url('subset/Vazirmatn-Medium-sub.woff2') format('woff2');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'Vazirmatn';src:url('subset/Vazirmatn-Bold-sub.woff2') format('woff2');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:'Vazirmatn';src:url('subset/Vazirmatn-ExtraBold-sub.woff2') format('woff2');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:'Vazirmatn';src:url('subset/Vazirmatn-Black-sub.woff2') format('woff2');font-weight:900;font-style:normal;font-display:swap;}

@font-face{font-family:'Vazirmatn';src:url('subset/Vazirmatn-Light-sub.woff2') format('woff2');font-weight:300;font-style:normal;font-display:swap;}
